{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
<div class="full-visual-height d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div>
                    <p>Please enter your existing and new passwords.</p>
                    <form method="post" novalidate {% if is_multipart(form) %}enctype="multipart/form-data"{% endif %}>
                        {% from "helpers/_form_helpers.html" import render_field %}
                        {% for field in form %}
                            {{ render_field(field) }}
                        {% endfor %}
                        <div class="mb-1">
                            <button class="button {{ button_class|default('button-primary') }}">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}